
.dashboard {
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
  background: linear-gradient(to left, #4B79A1 , #283E51);   
  padding: 4% 6%;  
  min-height: 100vh;
  }

.error-box{
  width: 60%;
  background-color: white;
  margin: 20px auto;
  font-size: 2em;
  padding: 60px 50px;
  border-radius: 5px;
  color: red;
  font-weight: bolder;
  text-align: center;
}

.dashboard h1 {

    font-size: 2.4em;

  }
.outer-card{
background-color: rgba(0, 0, 0, 0.383);

border-radius: 10px;
color: white;
padding: 30px 10px;
text-align: center;
line-height: 1.6;
}

.outer-card a{


  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;

}


.outer-card .comment_heading{
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
 .dashboard{
  padding: 3% 4%; 

  font-size: 15px; 
 }
 .error-box{
  width: 70%;
  padding: 30px 40px;

 }


  
}


@media only screen and (max-width: 767px) {
 
  .outer-card{

    


    padding: 30px 8px;

    font-size: 14px;
    

    }
  
   
 }

 @media only screen and (max-width: 767px) {
 
  .outer-card{

    


    padding: 30px 6px;

    font-size: 12px;
    line-height: 1.7;

    }
  
   
 }



